<h2>CRUD</2>
<a href="{{ path('app_contribution_index') }}">contribution</a>
<a href="{{ path('app_project_index') }}">projet</a>
<a href="{{ path('app_member_index') }}">membre</a>
<a href="{{ path('app_techno_index') }}">techno</a>
<h2>MANAGER</2>
<a href="{{ path('app_projects_manager_index') }}">gestion des projets</a>