{% extends 'base.html.twig' %}

{% block title %}Contribution index{% endblock %}

{% block body %}
    <h1>Contribution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><b>contribution</b></th>
                <th>projet</th>
                <th>membre</th>  
                <th>techno</th>                                                 
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                <td>{{ contribution.id }}</td>
                <td>{{ contribution.project }}</td>
                <td>{{ contribution.member }}</td>
                <td>{{ contribution.techno }}</td>                
                <td>
                    <a href="{{ path('app_contribution_show', {'id': contribution.id}) }}">show</a>
                    <a href="{{ path('app_contribution_edit', {'id': contribution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contribution_new') }}">Create new</a>
{% endblock %}
